Repository SurenStepanyan/vite-react-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:fix, npm run lint

.lintstagedrc.json:

{
    "*.{js,ts,jsx,md,json}": ["npm run format:fix"],
    "*.{ts,tsx}": ["npm run lint"]
}

feat(): change lintstaged file
  .lintstagedrc.json
Due: npm run format:fix

remove(): remove assets folder
  commitlint.config.ts
  src/assets/react.svg
Due: npm run format:fix, npm run lint

fix(): change project name
  package-lock.json
  package.json
Due: npm run format:fix

feat(): added env validation with zod
  config/env/constants.ts
  config/env/index.ts
  config/env/validation-schema.ts
  package-lock.json
  package.json
  tsconfig.app.json
  vite.config.ts
Due: npm run format:fix, npm run lint

feat(): added env example
  .env.example
Due: none

remove(): remove import
  src/App.tsx
Due: npm run lint

fix(): fix App
  src/App.tsx
Due: npm run lint

feat(): clear project
  src/App.css
  src/index.css
  src/main.tsx
Due: npm run lint

fix(App.tsx): remove app.css
  src/App.tsx
Due: npm run lint

feat(): added nvmrc
  .nvmrc
Due: none

feat(): added prettier import orders, added types for env and create base structure
  .prettierrc
  src/App.tsx
  src/app/index.ts
  src/index.css
  src/main.tsx
  src/modules/index.ts
  src/pages/index.ts
  src/shared/index.ts
  src/vite-env.d.ts
Due: npm run format:fix, npm run lint

feat(): -
  index.html
Due: none

feat(): add paths config
  .prettierrc
  tsconfig.app.json
  vite.config.ts
Due: npm run format:fix, npm run lint
